.lower_container {
    background-color: #232f3e;
    color: white;     
}
.lower_container ul{
    display: flex;
    list-style: none;
    gap: 20px;  
    
}
.lower_container ul li{
    padding: 8px;
}
.lower_container ul li:first-child{
    display: flex;
    gap: 2px;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .lower_container ul li:not(:first-child){
        display: flex;
        flex-direction: column !important;
        height: auto;
    }
    .lower_container ul li:not(:first-child) {
       display: none;   
    }
    .language {
        display: none;
    }
    
}

 